#Hero{
    background-color: #C9D3F2;
    margin: 0%;
}
#Head{
    background-color: #C9D3F2;
}
#FOOT{
    background-color: #C9D3F2;
}
h1,h3,h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5rem;
}
.feature-icon-small {
    width: 3rem;
    height: 3rem;
  }
.text-bg{
    background-color: #adb9f4;
    box-shadow: 5px 5px 5px #606684 ;
}
.pb-2{
    box-shadow: #606684 0px 25px 20px -20px;
}
.whiteline{
    margin-top: -1rem;
    margin-bottom: 3rem;
}
input[type=search]{
    background-color: #6066847a;
    border: 1px solid;
}
.bg-quote{
    background-color:#6874ae79;
}